*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: whitesmoke;
    color: #333;
}

/**hero section **/
header{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;

}

.explore{
    background-color: #ffb400;
    color: white;
    border-radius: 20px;
}

.enter{
    background: red;
    color: black;
}

.hero{
    background-color: #ffb400;
}

.hero h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.hero p{
    margin: 0;
    max-width: 700px;
}

.search-bar{
    margin-top: 20px;
    display: flex;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;

}
.search-bar input,
.search-bar select{
    border: none;
    padding: 10px;
    outline: none;
}

.search-bar input{
    
     background: #eee;

}
.search-bar select{
    background: #eee;
}

.search-bar button{
    background: #ffb400;
    border: none;
    padding: 10px, 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}

.Studio-Times{
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: flex-start;
     justify-content: center;
      background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
}
.Studio-Times img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    background-color: black;
    justify-items: end;
     background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));

}

.style{
      display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: flex-start;
      background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
}
.style img{
     width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin: 40px;
     background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
}

.Daughter{
      display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: flex-start;
     justify-content: center;
      background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
}

.Daughter img{
      width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    justify-items: center;
     margin: 40px;
      background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
}

.rain{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
     background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
    
}

.rain img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
     margin: 40px;
      background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
}

.galaxy{
       display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: flex-start;
     justify-items: center;
      background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
}

.galaxy img{
      width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    justify-items: center;
     margin: 40px;
      background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));

}

.singles{
        display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: flex-start;
}

.singles video{
        width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    justify-items: center;
     margin: 40px;
}

.videos{
    background: linear-gradient(red,orange,yellow,blue,indigo,violet);
    margin: 50px;
}
.video-categories{
    color: #eee;
}
.Singles{
    color: #eee;
}

.collaborations{
        display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: flex-start;
}

.collaborations video{
         width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    justify-items: center;
     margin: 40px;
}

.Collaborations{
    background: linear-gradient(rgb(187, 243, 253),rgb(172, 176, 238),rgb(228, 245, 169),rgb(247, 177, 131));
    justify-content: center;
}

.paragraph{
    color: blue;
}
.Studio-Times{
    background: linear-gradient(rgb(145, 248, 197),rgb(240, 111, 186), rgb(198, 95, 247));
}

.eddykenzo{
    color: black;
}

.logo{
    
    width: 75px;
    border-radius: 25px;
    
    
}

.nav{
    display: flex;
    justify-items: auto;
    gap: 2%;
    
    background: #f3f03a;
}

.microphone{
    border: #333;
    border-radius: 45px;
}
.header{
    background-color: black;
}