*{
     font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background: whitesmoke
}

/**hero section*/

.hero{
    position: relative;
    height: 100vh; /* full screen height*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(200, 0, 150, 0.7), rgba(0, 0, 200, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px; 
    background-image: url("images/eddykenzo background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.music{
    color: black;
}


.hero-text{
    color: #fff;
    min-width: 80px;
}

.hero-text h2{
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;

}

.hero-text p{
    font-size: 20px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    background: #ffcc00;
    color: black;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: #fff;
    color: black;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    color: #fff;
    background: #f77062;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    
}
.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}
.navbar__links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
       /* top: -1000px;
        opacity: 0; */
        transition: all 0.5s ease;
        height: 500vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all o.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .nabar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }


    .navbar__item {
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btm {
        padding-bottom: 2rem;

    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0;
    }


    .navb__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) roatate(45deg);
    }

    #mobile-menu.is-active  .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
}
/*search-song*/
.search-song{
    background-color: rgb(133, 200, 245);
    color: black;
}


/*seach*/
.search{
    background-color: red;
    
}

.center{
    text-align: center;
    padding: 25%;
    background: linear-gradient(to right, rgba(200, 0, 150, 0.7), rgba(0, 0, 200, 0.7));
    justify-content: inherit;
    justify-items: self-start, ;
}

.logo{
      width: 75px;
    border-radius: 25px;
    
}


@media (max-width: 1231px) {
    .center{
        font-size: 1.5rem;
    }
    .h2{
         font-size: 1.5rem;
    }
    .music{
        font-size: 2.5rem;
    }
   
}
@media (max-height: 1231px) {
    .center{
        font-size: 1.5rem ;
    }
}

